/* ================== CSS RESET E MISCELLANEOUS ================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-color);
}

:root {
    font-size: 16px;

    /* .dark mode */
    --textDarkMode-color: #f8f4f2;
    --bgDarkMode-color: #0d0113;
    --black-color: #050505;

    /* .light mode */
    --bgLightMode-color: rgb(253, 253, 253);
    --textLightMode: rgb(0, 0, 0);
}

a {
    color: var(--textDarkMode-color);
    text-decoration: none;
}




body{
    font-family: "Montserrat", sans-serif;
    margin-top: 45px;
    background-color: var(--bgDarkMode-color);
    color: var(--textDarkMode-color);
    transition: 900ms;

}

@media (max-width: 532px) {
    body {
        margin-top: 50px;
    }
}

header {
    margin: 22px;
}

.name {
    background: #6E41CF;
    background: linear-gradient(to top right, #6E41CF 10%, #B41ECF 57%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 0px;
}

.html {
    background: #CF1F16;
    background: linear-gradient(to top right, #CF1F16 0%, #CFA879 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.css {
    background: #4416CF;
    background: linear-gradient(to top right, #4416CF 0%, #92AEFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js {
    background: #CF9E22;
    background: linear-gradient(to top right, #CF9E22 14%, #E3FF67 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.php {
    background: #2600CF;
    background: linear-gradient(to top right, #2600CF 0%, #AD2AFF 78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.laravel {
    background: #CF0000;
    background: linear-gradient(to top right, #CF0000 0%, #FF5D75 78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.react {
    background: #2ACCCF;
    background: linear-gradient(to top right, #2ACCCF 0%, #8DC4FF 78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.livewire {
    background: #CF66B5;
    background: linear-gradient(to top right, #CF66B5 46%, #4E74FF 78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;


}




/* ================== NAVBAR ================== */
.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    transition: 900ms;
}

.navScroll {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    width: 96%;
    border-radius: 12px;
    transition: 900ms;
    color: var(--textDarkMode-color);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    margin: 10px 12px;
    list-style: none;
    color: var(--textDarkMode-color);
}



/* ================== HERO SECTION ================== */
.bgimage {
    height: 100vh;
    width: 100%;
    background: url('../public/img/OIG421.png');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
}

.hero_title {
    font-size: 4.5rem;
    color: var(--textDarkMode-color);
}

.hero_desc {
    font-size: 2rem;
    color: var(--textDarkMode-color);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroSection {
    width: auto;
    background: rgba(14, 14, 14, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.1px);
    -webkit-backdrop-filter: blur(14.1px);
    border: 1px solid rgba(14, 14, 14, 0.12);
}

/* ================== HEADER ================== */
header {
    margin-top: 4%;
}

header img {
    border-radius: 16px;
    border: 3px solid black;
}

header div span {
    font-size: larger;
}

header ul {
    padding: 0px;
    display: flex;
}

header ul li {
    margin: 0px 16px;
}

/* ================== PROJECT ================== */
.project {
    background: rgba(0, 0, 0, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 3px solid rgba(0, 0, 0, 0.27);
    border-radius: 16px;
}

.card-project {
    background: rgba(27, 12, 26, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(19, 10, 18, 0.66);
    overflow: hidden;
}

.project div {
    max-height: 450px;
}

.project div h3 {
    max-width: 230px;
    margin-left: 6px;
}

.projectImg {
    transition: 900ms;
    width: 600px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    
}

.projectImg:hover {
    transform: scale(1.019);
}

@media (max-width: 1199px) {
    .projectImg {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .project div h3 {
        max-width: 100%;
        margin: 8px;
    }
}

/* ================== TOGGLE DARKMODE ================== */
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

/* ================== BUTTON ================== */
.buttonCard {
    all: unset;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0px 16px;
}

.buttonCard::after,
.buttonCard::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.buttonCard::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.buttonCard::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.buttonCard:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.buttonCard:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.buttonCard:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

/* ================== PERSONAL CARD ================== */
.card {
    width: 100%;
    height: 80%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    overflow: hidden;

    .card__top {
        height: 155px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile__photo {
            width: 130px;
            height: 130px;
            position: absolute;
            bottom: -60px;
            left: 50%;
            transform: translatex(-50%);

            img {
                width: 100%;
                border-radius: 50%;
                height: 100%;
                object-fit: cover;
                border: 7px solid rgba(0, 0, 0, 0.35);

            }
        }
    }

    .card__content {
        text-align: center;
        color: #fff;
        padding: 4.5em 1.8em 1.5em 1.8em;

        h2 {
            font-weight: 700;
            font-size: 24px;
        }

        h3 {
            font-weight: 400;
            margin: 5px 0 30px;
            font-size: 16px;
        }

        p {
            text-align: left;

            span {
                margin-right: 10px;
            }

            a {
                text-decoration: none;
                color: #fff;
            }

        }

    }

}

/* ================== MODAL ================== */


.modal1 {
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Larghezza fissa */
    height: 70%; /* Altezza fissa */
    z-index: 100;
    background-color: red;
    display: none;
    background: var(--bgDarkMode-color);
    opacity: 0.99;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(49, 47, 47, 0.3);
    overflow-y: auto;
    scrollbar-width: none;
}

.exitButton{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}

.modal1 button{
    cursor: pointer;
    color: var(--textDarkMode-color);
    margin-bottom:2px ;
}

.modal1 ul li{
    margin: 16px 30px;
}

.modal1 ul span{
    margin-right: 16px;
}

.divImageModal{
    width: 100%;
    overflow-y: auto;
}

.imgModal{
    width: 100%;
    border-radius: 18px;
    object-fit:fill;
}

.modalShadow{
    box-shadow: 0px -1px 400px 200px rgb(34, 32, 32);
    -webkit-box-shadow: 0px -1px 400px 200px rgb(14, 11, 11);
    -moz-box-shadow: 0px -1px 400px 200px rgba(0,0,0,1);
}



/* ================== LIGHTMODE CLASS ================== */
.lightMode {
    transition: 900ms;
    background-color: var(--bgLightMode-color);
    color: var(--textLightMode);

    a,
    li,
    button {
        color: var(--textLightMode);
    }

    nav {
        background-color: var(--bgLightMode-color);
    }

    .navScroll {
        background: rgba(255, 255, 255, 0.85);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgb(0, 0, 0);
    }

    .projectImg {
        border-radius: 15px;
    }

    .card-project {
        background-color: var(--bgLightMode-color);
    }

    .project {
        background-color: var(--bgLightMode-color);
        border: 3px solid var(--bgDarkMode-color);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    }

    .buttonCard {
        color: var(--bgLightMode-color);
    }

    header img {
        border-radius: 16px;
        border: 3px solid black;
    }

    .hero_title {
        color: var(--textDarkMode-color);
    }

    .hero_desc {
        color: var(--textDarkMode-color);
    }

    .heroSection {
        width: auto;
        background: rgba(255, 255, 255, 0.01);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.1px);
        -webkit-backdrop-filter: blur(11.1px);
        border: 1px solid rgba(255, 255, 255, 0.12);
    }

    .card__content {
        text-align: center;
        color: #fff;
        padding: 4.5em 1.8em 1.5em 1.8em;

        h2 {
            font-weight: 700;
            font-size: 24px;
            color: var(--textLightMode);
        }

        h3 {
            font-weight: 400;
            margin: 5px 0 30px;
            font-size: 16px;
            color: var(--textLightMode);
        }

        p {
            text-align: left;
            color: var(--textLightMode);

            span {
                margin-right: 10px;
            }

            a {
                text-decoration: none;
                color: var(--textLightMode);

                &:hover {
                    text-decoration: underline;
                    color: var(--textLightMode);
                }
            }

        }

        p+p {
            margin-top: 10px;
            color: var(--textLightMode);
        }

    }

    a.button {
        text-decoration: none;
        background: var(--bgLightMode-color);
        padding: 9px 30px 10px 30px;
        display: inline-block;
        margin-top: 2em;
        color: var(--textLightMode);

    }

    .modal1{
        background: var(--bgLightMode-color);
    }

    .modal1 button{
        cursor: pointer;
        color: var(--textDarkMode-color);
    }
}







