@media screen and (min-width: 0px) and (max-width: 900px) {

    main{
        position: relative;
        background-color: #353 ;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        pointer-events: none;
    }

    .parallax{
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    }

    .bg_img{
        position: absolute;
        z-index: 1;
        width: 2800px;
        top: calc(50% - 390px);
        left: calc(50% + 10px);
        user-select: none;
    }

    .fog_1{
        position: absolute;
        z-index: 2;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

    .mountain_10{
        position: absolute;
        z-index: 3;
        width: 870px;
        top: calc(50% + 69px);
        left: calc(50% + 230px);
    }

    .fog_2{
        position: absolute;
        z-index: 4;
        width: 1833px;
        top: calc(50% + 95px);
        left: calc(50% + 7px);
    }

    .mountain_9{
        position: absolute;
        z-index: 5;
        width: 463px;
        top: calc(50% + 119px);
        left: calc(50% - 457px);
    }

    .mountain_8{
        position: absolute;
        z-index: 6;
        width: 1300px;
        top: calc(50% + 120px);
        left: calc(50% - 30px);
    }

    .fog_3{
        position: absolute;
        z-index: 7;
        width: 449px;
        top: calc(50% + 171px);
        left: calc(50% + 29px);
    }

    .mountain_7{
        position: absolute;
        z-index: 8;
        width: 515px;
        top: calc(50% + 134px);
        left: calc(50% + 305px);
    }

    .text{
        position: absolute;
        z-index: 9;
        top: calc(50% - 70px);
        left: 50%;
        text-align: center;
        color: white;
        pointer-events: auto;
    }

    .text h2{
        font-weight: 100;
        font-size: calc(2rem + 6vw);
        line-height: 0.88;
    }

    .text h1{
        font-weight: 400;
        font-size: calc(2rem + 6vw);
        line-height: 0.88;
    }

    .mountain_6{
        position: absolute;
        z-index: 10;
        width: 383.5px;
        top: calc(50% + 86.5px);
        left: calc(50% + 590px);
    }

    .fog_4{
        position: absolute;
        z-index: 11;
        width: 543px;
        top: calc(50% + 242px);
        left: calc(50% - 64px);
    }

    .mountain_5{
        position: absolute;
        z-index: 12;
        width: 983px;
        top: calc(50% + 400px);
        left: calc(50% + 30px);
    }

    .fog_5{
        position: absolute;
        z-index: 13;
        width: 1435px;
        top: calc(50% + 149px);
        left: calc(50% - 28px);
    }

    .mountain_4{
        position: absolute;
        z-index: 14;
        width: 1017px;
        top: calc(50% + 410px);
        left: calc(50% - 200px);
    }

    .mountain_3{
        position: absolute;
        z-index: 22;
        width: 800px;
        top: calc(50% + 133px);
        left: calc(50% + 330px);
    }

    .mountain_2{
        position: absolute;
        z-index: 17;
        width: 725px;
        top: calc(50% + 300px);
        left: calc(50% + 212px);
    }

    .mountain_1{
        position: absolute;
        z-index: 18;
        width: 800px;
        top: calc(50% + 91.5px);
        left: calc(50% - 300px);
    }

    .sun_rays{
        position: absolute;
        z-index: 19;
        top: 0;
        right: 0;
        width: 595px;
        pointer-events: none;
    }

    .black_shadow{
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
    }

    .fog_7{
        position: absolute;
        z-index: 21;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

}

@media screen and (min-width: 900px) and (max-width: 1387px) {

    main{
        position: relative;
        background-color: #353 ;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        pointer-events: none;
    }

    .parallax{
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    }

    .bg_img{
        position: absolute;
        z-index: 1;
        width: 2800px;
        top: calc(50% - 390px);
        left: calc(50% + 10px);
        user-select: none;
    }

    .fog_1{
        position: absolute;
        z-index: 2;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

    .mountain_10{
        position: absolute;
        z-index: 3;
        width: 870px;
        top: calc(50% + 69px);
        left: calc(50% + 230px);
    }

    .fog_2{
        position: absolute;
        z-index: 4;
        width: 1833px;
        top: calc(50% + 95px);
        left: calc(50% + 7px);
    }

    .mountain_9{
        position: absolute;
        z-index: 5;
        width: 463px;
        top: calc(50% + 119px);
        left: calc(50% - 457px);
    }

    .mountain_8{
        position: absolute;
        z-index: 6;
        width: 1200px;
        top: calc(50% + 120px);
        left: calc(50% - 70px);
    }

    .fog_3{
        position: absolute;
        z-index: 7;
        width: 449px;
        top: calc(50% + 171px);
        left: calc(50% + 29px);
    }

    .mountain_7{
        position: absolute;
        z-index: 8;
        width: 515px;
        top: calc(50% + 134px);
        left: calc(50% + 305px);
    }

    .text{
        position: absolute;
        z-index: 9;
        top: calc(50% - 70px);
        left: 50%;
        text-align: center;
        color: white;
        pointer-events: auto;
    }

    .text h2{
        font-weight: 100;
        font-size: calc(2rem + 6vw);
        line-height: 0.88;
    }

    .text h1{
        font-weight: 400;
        font-size: calc(2rem + 6vw);
        line-height: 0.88;
    }

    .mountain_6{
        position: absolute;
        z-index: 10;
        width: 383.5px;
        top: calc(50% + 86.5px);
        left: calc(50% + 590px);
    }

    .fog_4{
        position: absolute;
        z-index: 11;
        width: 543px;
        top: calc(50% + 242px);
        left: calc(50% - 64px);
    }

    .mountain_5{
        position: absolute;
        z-index: 12;
        width: 983px;
        top: calc(50% + 400px);
        left: calc(50% + 30px);
    }

    .fog_5{
        position: absolute;
        z-index: 13;
        width: 1435px;
        top: calc(50% + 149px);
        left: calc(50% - 28px);
    }

    .mountain_4{
        position: absolute;
        z-index: 14;
        width: 1017px;
        top: calc(50% + 390px);
        left: calc(50% - 300px);
    }

    .mountain_3{
        position: absolute;
        z-index: 22;
        width: 700px;
        top: calc(50% + 133px);
        left: calc(50% + 500px);
    }

    .mountain_2{
        position: absolute;
        z-index: 17;
        width: 725px;
        top: calc(50% + 288px);
        left: calc(50% + 312px);
    }

    .mountain_1{
        position: absolute;
        z-index: 18;
        width: 700px;
        top: calc(50% + 91.5px);
        left: calc(50% - 500px);
    }

    .sun_rays{
        position: absolute;
        z-index: 19;
        top: 0;
        right: 0;
        width: 595px;
        pointer-events: none;
    }

    .black_shadow{
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
    }

    .fog_7{
        position: absolute;
        z-index: 21;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

}

@media screen and (min-width: 1387px) and (max-width: 1900px) {

    main{
        position: relative;
        background-color: #353 ;
        height: 100vh;
        max-height: 1000px;
        width: 100vw;
        overflow: hidden;
        pointer-events: none;
    }

    .parallax{
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    }

    .bg_img{
        position: absolute;
        z-index: 1;
        width: 2800px;
        top: calc(50% - 390px);
        left: calc(50% + 10px);
        user-select: none;
    }

    .fog_1{
        position: absolute;
        z-index: 2;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

    .mountain_10{
        position: absolute;
        z-index: 3;
        width: 870px;
        top: calc(50% + 69px);
        left: calc(50% + 230px);
    }

    .fog_2{
        position: absolute;
        z-index: 4;
        width: 1833px;
        top: calc(50% + 95px);
        left: calc(50% + 7px);
    }

    .mountain_9{
        position: absolute;
        z-index: 5;
        width: 463px;
        top: calc(50% + 119px);
        left: calc(50% - 457px);
    }

    .mountain_8{
        position: absolute;
        z-index: 6;
        width: 1200px;
        top: calc(50% + 96px);
        left: calc(50% - 102px);
    }

    .fog_3{
        position: absolute;
        z-index: 7;
        width: 449px;
        top: calc(50% + 171px);
        left: calc(50% + 29px);
    }

    .mountain_7{
        position: absolute;
        z-index: 8;
        width: 515px;
        top: calc(50% + 134px);
        left: calc(50% + 305px);
    }

    .text{
        position: absolute;
        z-index: 9;
        top: calc(50% - 70px);
        left: 50%;
        text-align: center;
        color: white;
        pointer-events: auto;
    }

    .text h2{
        font-weight: 100;
        font-size: 6.5rem;
        line-height: 0.88;
    }

    .text h1{
        font-weight: 400;
        font-size: 8rem;
        line-height: 0.88;
    }

    .mountain_6{
        position: absolute;
        z-index: 10;
        width: 383.5px;
        top: calc(50% + 86.5px);
        left: calc(50% + 590px);
    }

    .fog_4{
        position: absolute;
        z-index: 11;
        width: 543px;
        top: calc(50% + 242px);
        left: calc(50% - 64px);
    }

    .mountain_5{
        position: absolute;
        z-index: 12;
        width: 900px;
        top: calc(50% + 369px);
        left: calc(50% + 30px);
    }

    .fog_5{
        position: absolute;
        z-index: 13;
        width: 1435px;
        top: calc(50% + 149px);
        left: calc(50% - 28px);
    }

    .mountain_4{
        position: absolute;
        z-index: 14;
        width: 1160px;
        top: calc(50% + 321px);
        left: calc(50% - 485.5px);
    }

    .mountain_3{
        position: absolute;
        z-index: 22;
        width: 700px;
        top: calc(50% + 10px);
        left: calc(50% + 690px);
    }

    .mountain_2{
        position: absolute;
        z-index: 17;
        width: 825px;
        top: calc(50% + 188px);
        left: calc(50% + 460px);
    }

    .mountain_1{
        position: absolute;
        z-index: 18;
        width: 900px;
        top: calc(50% + 91.5px);
        left: calc(50% - 700px);
    }

    .sun_rays{
        position: absolute;
        z-index: 19;
        top: 0;
        right: 0;
        width: 595px;
        pointer-events: none;
    }

    .black_shadow{
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
    }

    .fog_7{
        position: absolute;
        z-index: 21;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

}

@media screen and (min-width: 1900px) and (max-width: 2300px) {

    main{
        position: relative;
        background-color: #353 ;
        height: 100vh;
        max-height: 1000px;
        width: 100vw;
        overflow: hidden;
        pointer-events: none;
    }

    .parallax{
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    }

    .bg_img{
        position: absolute;
        z-index: 1;
        width: 2800px;
        top: calc(50% - 390px);
        left: calc(50% + 10px);
        user-select: none;

    }

    .fog_1{
        position: absolute;
        z-index: 2;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

    .mountain_10{
        position: absolute;
        z-index: 3;
        width: 870px;
        top: calc(50% + 69px);
        left: calc(50% + 230px);
    }

    .fog_2{
        position: absolute;
        z-index: 4;
        width: 1833px;
        top: calc(50% + 95px);
        left: calc(50% + 7px);
    }

    .mountain_9{
        position: absolute;
        z-index: 5;
        width: 463px;
        top: calc(50% + 190px);
        left: calc(50% - 457px);
    }

    .mountain_8{
        position: absolute;
        z-index: 6;
        width: 1286px;
        top: calc(50% + 120px);
        left: calc(50% - 102px);
    }

    .fog_3{
        position: absolute;
        z-index: 7;
        width: 449px;
        top: calc(50% + 171px);
        left: calc(50% + 29px);
    }

    .mountain_7{
        position: absolute;
        z-index: 8;
        width: 515px;
        top: calc(50% + 134px);
        left: calc(50% + 305px);
    }

    .text{
        position: absolute;
        z-index: 9;
        top: calc(50% - 70px);
        left: 50%;
        text-align: center;
        color: white;
        pointer-events: auto;
    }

    .text h2{
        font-weight: 100;
        font-size: 6.5rem;
        line-height: 0.88;
    }

    .text h1{
        font-weight: 400;
        font-size: 8rem;
        line-height: 0.88;
    }

    .mountain_6{
        position: absolute;
        z-index: 10;
        width: 383.5px;
        top: calc(50% + 86.5px);
        left: calc(50% + 590px);
    }

    .fog_4{
        position: absolute;
        z-index: 11;
        width: 543px;
        top: calc(50% + 242px);
        left: calc(50% - 64px);
    }

    .mountain_5{
        position: absolute;
        z-index: 12;
        width: 1200px;
        top: calc(50% + 490px);
        left: calc(50% - 80px);
    }

    .fog_5{
        position: absolute;
        z-index: 13;
        width: 1435px;
        top: calc(50% + 149px);
        left: calc(50% - 28px);
    }

    .mountain_4{
        position: absolute;
        z-index: 14;
        width: 1300px;
        top: calc(50% + 370px);
        left: calc(50% - 600.5px);
    }

    .mountain_3{
        position: absolute;
        z-index: 22;
        width: 800px;
        top: calc(50% - 40px);
        left: calc(50% + 800px);
    }

    .mountain_2{
        position: absolute;
        z-index: 17;
        width: 780px;
        top: calc(50% + 188px);
        left: calc(50% + 412px);
    }

    .mountain_1{
        position: absolute;
        z-index: 18;
        width: 800px;
        top: calc(50% + 40.5px);
        left: calc(50% - 900px);
    }

    .sun_rays{
        position: absolute;
        z-index: 19;
        top: 0;
        right: 0;
        width: 595px;
        pointer-events: none;
    }

    .black_shadow{
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
    }

    .fog_7{
        position: absolute;
        z-index: 21;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

}

@media screen and (min-width: 2300px){

    main{
        position: relative;
        background-color: #353 ;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        overflow: hidden;
    }

    .parallax{
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    }

    .bg_img{
        position: absolute;
        z-index: 1;
        width: 2800px;
        top: calc(50% - 200px);
        left: 50%;
        user-select: none;
    }

    .fog_1{
        position: absolute;
        z-index: 2;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

    .mountain_10{
        position: absolute;
        z-index: 3;
        width: 1300px;
        top: calc(50% + 69px);
        left: calc(50% + 230px);
    }

    .fog_2{
        position: absolute;
        z-index: 4;
        width: 1833px;
        top: calc(50% + 95px);
        left: calc(50% + 7px);
    }

    .mountain_9{
        position: absolute;
        z-index: 5;
        width: 800px;
        top: calc(50% + 190px);
        left: calc(50% - 457px);
    }

    .mountain_8{
        position: absolute;
        z-index: 6;
        width: 1600px;
        top: calc(50% + 150px);
        left: calc(50% - 202px);
    }

    .fog_3{
        position: absolute;
        z-index: 7;
        width: 449px;
        top: calc(50% + 171px);
        left: calc(50% + 29px);
    }

    .mountain_7{
        position: absolute;
        z-index: 8;
        width: 980px;
        top: calc(50% + 180px);
        left: calc(50% + 305px);
    }

    .text{
        position: absolute;
        z-index: 9;
        top: calc(50% - 70px);
        left: 50%;
        text-align: center;
        color: white;
        pointer-events: auto;
    }

    .text h2{
        font-weight: 100;
        font-size: 6.5rem;
        line-height: 0.88;
    }

    .text h1{
        font-weight: 400;
        font-size: 8rem;
        line-height: 0.88;
    }

    .mountain_6{
        position: absolute;
        z-index: 10;
        width: 700px;
        top: calc(50% + 86.5px);
        left: calc(50% + 590px);
    }

    .fog_4{
        position: absolute;
        z-index: 11;
        width: 543px;
        top: calc(50% + 242px);
        left: calc(50% - 64px);
    }

    .mountain_5{
        position: absolute;
        z-index: 12;
        width: 1100px;
        top: calc(50% + 600px);
        left: calc(50% + 10px);
    }

    .fog_5{
        position: absolute;
        z-index: 13;
        width: 1435px;
        top: calc(50% + 149px);
        left: calc(50% - 28px);
    }

    .mountain_4{
        position: absolute;
        z-index: 14;
        width: 1300px;
        top: calc(50% + 221px);
        left: calc(50% - 800px);
    }

    .mountain_3{
        position: absolute;
        z-index: 22;
        width: 900px;
        top: calc(50% - 40px);
        left: calc(50% + 990px);
    }

    .mountain_2{
        position: absolute;
        z-index: 17;
        width: 1100px;
        top: calc(50% + 400px);
        left: calc(50% + 500px);
    }

    .mountain_1{
        position: absolute;
        z-index: 18;
        width: 990px;
        top: calc(50% + 40.5px);
        left: calc(50% - 1090px);
    }

    .sun_rays{
        position: absolute;
        z-index: 19;
        top: 0;
        right: 0;
        width: 595px;
        pointer-events: none;
    }

    .black_shadow{
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
    }

    .fog_7{
        position: absolute;
        z-index: 21;
        width: 1900px;
        top: calc(50% - 100px);
        left: calc(50% + 300px);
    }

}

.Main_China{
    border-bottom-left-radius: 80% 20%;
    border-bottom-right-radius: 80% 20%;
}

