body {
  background-color: rgb(255, 199, 64);
}

form {
  line-height: 27px;
}

form div{
  margin-top: 20px;
}

form div input:not([type="radio"]){
  width: 50%;
}

@media (max-width:1005px) {
  form div input:not([type="radio"]){
    width: 98%;
  }
}

a{
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 20px;
}

input[type="text"],
input[type="number"] {
  min-height: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

input[type="radio"] {
  margin-left: 12px;
}

#main {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin: 2% 10%;
  overflow: auto;
}

#story {
  padding: 0 3%;
}

#top {
  background-color: rgb(255, 255, 255);
  margin: 2% 10%;
  border-radius: 15px;
}

#top img {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.italics {
  font-style: italic;
}

.word {
  font-weight: bold;
  text-decoration: underline;
}

textarea{
  width: 80%;
}

/* =================== DROPDOWNTOOL ===================== */

.dropdownTool{
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 0.7;
}

.dropdownTool:hover{
  opacity: 1;
}